.mceLinkList, .mceAnchorList, #targetlist {
  width: 280px;
}

.mceActionPanel {
  margin-top: 7px;
}

.panel_wrapper div.current {
  height: 320px;
}

#classlist, #title, #href {
  width: 280px;
}

#popupurl, #popupname {
  width: 200px;
}

#popupwidth, #popupheight, #popupleft, #popuptop {
  width: 30px;
  vertical-align: middle;
  text-align: center;
}

#id, #style, #classes, #target, #dir, #hreflang, #lang, #charset, #type, #rel, #rev, #tabindex, #accesskey {
  width: 200px;
}

#events_panel input {
  width: 200px;
}
