#content .content-inside, .navbar  .content-inside {
  width: 98%;
}

#qr-canvas, #scandiv, #mobilediv, #loaddiv {
  display:none;
}

#scandiv, #mobilediv, #loaddiv, #waitdiv {
  width: 400px;
  height: 300px;
  margin: auto;
}

#outdiv video{
  width: 350px;
  height: 263px;
  margin: auto;
}

.scanqr {
  text-align: center;
}