/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/

#slider {
  position: relative;
  background: url(../images/loading.gif) no-repeat 50% 50%;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  height: 145px;
  width: 588px;
}

#slider a {
  border: 0;
  display: block;
}

.nivo-controlNav {
  position: absolute;
  left: 260px;
  bottom: 0;
}

.nivo-controlNav a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/bullets.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-right: 3px;
  float: left;
}

.nivo-controlNav a.active {
  background-position: 0 -22px;
}

.nivo-directionNav a {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
}

a.nivo-nextNav {
  background-position: -30px 0;
  right: 6px;
}

a.nivo-prevNav {
  left: 6px;
}

.nivo-caption {
  text-shadow: none;
  font-family: Helvetica, Arial, sans-serif;
}

.nivo-caption a {
  color: #efe9d1;
  text-decoration: underline;
}