@import url(./TitilliumText/stylesheet.css);
@import url(./NotJustGroovy/stylesheet.css);
@import url(./MarkerSd/stylesheet.css);

* {
  margin: 0;
  padding: 0;
}

body {
  background: #0a1635;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

#map_canvas {
  color: #0a1635;
}

h1, h2, h3, h4, h5, h6, .navbar-search, .navbar, .search-query {
  font-family: "not_just_groovyregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, p, code, pre, input, button, select, textarea {
  font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#inscriptions h2 {
  -moz-text-shadow: -1px -1px 3px #06659d,-1px 1px 3px #06659d,1px -1px 3px #06659d,1px 1px 3px #06659d;
  -webkit-text-shadow: -1px -1px 3px #06659d,-1px 1px 3px #06659d,1px -1px 3px #06659d,1px 1px 3px #06659d;
  -o-text-shadow: -1px -1px 3px #06659d,-1px 1px 3px #06659d,1px -1px 3px #06659d,1px 1px 3px #06659d;
  text-shadow: -1px -1px 3px #06659d,-1px 1px 3px #06659d,1px -1px 3px #06659d,1px 1px 3px #06659d;
  font-size: 22px;
  font-weight: 200;
  text-align: right;
  letter-spacing: 2px;
}

#inscriptions p.date {
  -moz-text-shadow: -1px -1px 3px #173382,-1px 1px 3px #173382,1px -1px 3px #173382,1px 1px 3px #173382;
  -webkit-text-shadow: -1px -1px 3px #173382,-1px 1px 3px #173382,1px -1px 3px #173382,1px 1px 3px #173382;
  -o-text-shadow: -1px -1px 3px #173382,-1px 1px 3px #173382,1px -1px 3px #173382,1px 1px 3px #173382;
  text-shadow: -1px -1px 3px #173382,-1px 1px 3px #173382,1px -1px 3px #173382,1px 1px 3px #173382;
  font-size: 18px;
  font-weight: 200;
  text-align: left;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
}

#inscriptions p.city {
  color: #e2bc54;
  -moz-text-shadow: -2px -2px 1px #ffffff,-2px 2px 1px #ffffff,2px -2px 1px #ffffff,2px 2px 1px #ffffff;
  -webkit-text-shadow: -2px -2px 1px #ffffff,-2px 2px 1px #ffffff,2px -2px 1px #ffffff,2px 2px 1px #ffffff;
  -o-text-shadow: -2px -2px 1px #ffffff,-2px 2px 1px #ffffff,2px -2px 1px #ffffff,2px 2px 1px #ffffff;
  text-shadow:
    -3px -3px 2px #ffffff,
    -3px 0px 2px #ffffff,
    -3px 3px 2px #ffffff,
    0px -3px 2px #ffffff,
    0px 0px 2px #ffffff,
    0px 3px 2px #ffffff,
    3px -3px 2px #ffffff,
    3px 0px 2px #ffffff,
    3px 3px 2px #ffffff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 200;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: "marker_sdregular", "not_just_groovyregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal {
  color: #333333;
}

.content-inside {
  margin: auto;
  width: 980px;
}

a {
  text-decoration: none;
  color: #d1eafe;
}

a:hover {
  color: #8ad2ff;
}

label, .sf_apply label, .form-horizontal .control-label {
  color: #d1eafe;
}

.right_col {
  float: right;
  width: 320px;
  background-color: #172240;
}

.left_col {
  float: left;
  width: 660px;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.all_col {
  margin-top: 5px;
}

#header {
  background-color: #ffffff;
}


#header .content-inside {
  height: 175px;
  background-image: url('../images/sngtbanner.png');
  background-repeat: no-repeat;
}

#content {
  min-height: 440px;
}

#socials {
  float: right;
  margin-top: 40px;
  width: 42px;
}

#socials p {
  width: 30px;
  margin-bottom: 0px;
}

#socials p.marging {
  margin-bottom: 5px;
}

#socials .zocial {
  font-size: 14px;
}

#inscriptions {
  height: 245px;
  border-bottom: 3px solid #ffffff;
  overflow: auto;
}

.next_step_all {
  border-bottom: 3px solid #ffffff;
}

#slide {
  height: 245px;
  border-bottom: 3px solid #ffffff;
}

#slider {
  height: 245px;
  border-right: 2px solid #0a1635;
}

#slider_nivo_parent, #realtime {
  height: 245px;
  overflow: hidden;
}

#inscr_accueil {
  position: relative;
  height: 145px;
}

#lastnews a:hover {
  text-decoration: none;
}

#partenaires {
  padding-top: 5px;
  padding-bottom: 5px;
}

#partenaires .partenaire {
  height: 80px;
  float: left;
  margin: 5px 52px;
}

.newsc {
  text-align: justify;
  margin-top: 5px;
  padding: 5px;
}

#footer {
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 10px;
}

#footer p {
  padding-bottom: 10px;
  text-align: center;
  color: #444444;
}

.clear {
  clear: both;
}

.p_center p {
  text-align: center;
}

.text_center {
  text-align: center;
}

.big {
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

.bigger {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.btn-larger {
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
  font-weight: normal;
  margin-right: 10px;
  padding: 14px 24px;
}

h1 {
  padding: 0 0 10px 0;
}

h2 {
  line-height: 20px;
  padding: 0 0 10px 0;
}

.titlenews {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  line-height: 20px;
  margin: 3px 0 15px 5px;
  font-size: 24px;
  text-rendering: optimizelegibility;
}

.boxed {
  padding: 5px;
}

.navbar {
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: 2px solid #ffffff;
}

hr {
  margin: 6px 0;
  border: 0;
  border-top: 2px dashed #d1eafe;
  border-bottom: 0;
}

.stream_btns {
  margin-bottom: 10px;
}

.sf_admin_list th, .sf_admin_list td {
  padding: 5px;
}

#slider_nivo_parent {
  background-image: url('../images/fond_slider.png');
}

#stream {
  width: 420px;
  background: #000000;
}

#sf_admin_container input.input-mini, #sf_admin_container textarea.input-mini {
  width: 60px;
}

#sf_admin_container input.input-small, #sf_admin_container textarea.input-small {
  width: 90px;
}

#sf_admin_container input.input-medium, #sf_admin_container textarea.input-medium {
  width: 150px;
}

#sf_admin_container input.input-large, #sf_admin_container textarea.input-large {
  width: 210px;
}

#sf_admin_container input.input-xlarge, #sf_admin_container textarea.input-xlarge {
  width: 270px;
}

#sf_admin_container input.input-xxlarge, #sf_admin_container textarea.input-xxlarge {
  width: 530px;
}

textarea {
  -webkit-transition: height .3s !important;
  -moz-transition: height .3s !important;
  transition: height 0.3s !important;
}

.newstitle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 554px;
}

.newsi {
  width: 555px;
  float: left;
}

.newsi h3 {
  width: 560px;
}

.newsp {
  width: 640px;
  margin: 0 10px;
}

.newspreview {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 554px;
  height: 70px;
}

.caldate {
  width: 55px;
  text-align: center;
  margin: 0 14px 0 0;
  padding: 3px;
  background-color: #ffffff;
  float: left;
  color: #0a1635;
}

.caldate .calday {
  font-size: 26px;
  font-weight: 200;
  line-height: 27px;
}

.caldate .calmonth {
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

.caldatebig {
  border: 1px solid #ccc;
  width: 66px;
  text-align: center;
  font-size: 26px;
  font-weight: 200;
  line-height: 27px;
  background-color: #ffffff;
  color: #0a1635;
  margin: 2px 10px 2px 0;
  padding: 3px;
}

.caldatebig .calday {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
#sf_admin_content table {
  width: 100%;
}

.account_choice {
  margin: 10px;
}

.account_choice_parent_hidden:hover {
  background-color: #ccc;
}

.account_choice_one {
  margin-top: 30px;
}

.form-actions-right {
  text-align: right;
}

.inscr_current {
  background-color: #d1eafe;
  color: #172240;
}

.inscr_past {
  background-color: #f5f5f5;
  color: #999;
}

.inscr_future {
}

.fieldsetwithtitle {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #172240;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fieldsetwithtitle > .legend {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #172240;
  border: 1px solid #ddd;
  color: #D1EAFE;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

span.error {
  color: #B94A48;
}

.reveal_choice_parent .reveal_choice {
  cursor: pointer;
}

.reveal_choice_parent .toreveal {
  margin-top: 10px;
}

pre {
  color: #0a1635 !important;
  background-color: #d1eafe !important;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

code {
  color: #0a1635;
  background-color: #d1eafe;
  border: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


.navbar-inner {
  background-color: #0c4a7d;
  background-image: -moz-linear-gradient(top, #06659d, #103464);
  background-image: -ms-linear-gradient(top, #06659d, #103464);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#06659d), to(#103464));
  background-image: -webkit-linear-gradient(top, #06659d, #103464);
  background-image: -o-linear-gradient(top, #06659d, #103464);
  background-image: linear-gradient(top, #06659d, #103464);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#06659d', endColorstr = '#103464', GradientType = 0);
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
}

.btn-navbar {
  background-color: #0c4a7d;
  background-image: -moz-linear-gradient(top, #06659d, #103464);
  background-image: -ms-linear-gradient(top, #06659d, #103464);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#06659d), to(#103464));
  background-image: -webkit-linear-gradient(top, #06659d, #103464);
  background-image: -o-linear-gradient(top, #06659d, #103464);
  background-image: linear-gradient(top, #06659d, #103464);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#06659d', endColorstr = '#103464', GradientType = 0);
  border-color: #103464 #103464 #103464;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled = false);
}

.btn-navbar:hover, .btn-navbar:active, .btn-navbar.active, .btn-navbar.disabled, .btn-navbar[disabled] {
  background-color: #103464;
}

.navbar .nav>li>a {
  color: #ffffff;
}

.navbar .nav>li>a:hover {
  text-shadow: -1px -1px 0 #175980, 0 0 10px aqua;
}

.form-actions {
  background-color: #172240;
  border-top: 3px solid #ffffff;
}

.lightblue {
  background-color: #172240;
}

.borderwhite {
  border: 1px solid #ffffff;
}

.help-block, .help-inline {
  color: #ffffff;
}

input.help-inline {
  color: #555555;
}

.well {
  background-color: #172240;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #172240;
}

.navbar .nav > li > a {
  padding: 10px 25px 11px;
}

input.loading {
  background-image: url("../images/loading.gif");
  background-position: 195px center;
  background-repeat: no-repeat;
}

.step_horaires, .step_plan {
  background-color: #085c93;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.step_horaires {
  min-height: 240px;
  max-height: 240px;
  height: 240px;
}

.step_plan {
  padding:0;
  min-height: 250px;
  max-height: 250px;
  height: 250px;
}

.step_description, .step_inscr {
  height: 320px;
  overflow-x: auto;
}

.step_logements img {
  float: left;
  height: 90px;
  width: 90px;
  margin-right: 5px;
}

.step_logements p {
  margin: 0;
  padding: 0;
}

.step_logements hr {
  clear: both;
}

.column {
  min-height: 440px;
}

.btn.btn-sngt {
  color: #7ec9d9;
}

.btn-sngt,
.btn-sngt:hover, {
  color: #7ec9d9;
}

.btn-sngt.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-sngt {
  font-family: "not_just_groovyregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #0a1635;
  border: 5px solid rgba(0,160,255,0.2);
  -moz-box-shadow: 0 0 10px #2754be;
  -webkit-box-shadow: 0 0 10px #2754be;
  -o-box-shadow: 0 0 10px #2754be;
  box-shadow: 0 0 10px #2754be;
  opacity: 0.7;
  text-shadow: 0 0 0;
  padding: 5px 18px;
  width: 80%;
  line-height: 25px;
  filter: progid:dximagetransform.microsoft.gradient(enabled = false);
}

.btn-sngt.btn-mini {
  font-size: 18px;
}

.btn-sngt:hover,
.btn-sngt:active,
.btn-sngt.active,
.btn-sngt.disabled,
.btn-sngt[disabled] {
  background-color: #173382;
}

.btn-sngt:active,
.btn-sngt.active {
  background-color: #13275c;
}

hr.pinksep {
  margin: 6px 10px;
  border-top: 2px solid #d878b2;
  -moz-box-shadow: 0 -2px 5px #d878b2, 0 2px 5px #d878b2;
  -webkit-box-shadow: 0 -2px 5px #d878b2, 0 2px 5px #d878b2;
  -o-box-shadow: 0 -2px 5px #d878b2, 0 2px 5px #d878b2;
  box-shadow: 0 -2px 5px #d878b2, 0 2px 5px #d878b2;

}