.news {
  background-color: black;
  text-decoration: none;
  height: 35px;
  font-size: 13px;
  color: #fff;
}

.newstext {
  text-decoration: none;
  font-family: Tahoma, Arial, Times New Roman, Times, serif;
  font-size: 11px;
  color: #fff;
}

.slide {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
}

h1.slide {
  font-family: Calibri, Verdana, Tahoma, sans-serif;
  line-height: 34px;
  padding-left: 10px;
  color: #fff;
  background-color: black;
  width: 65%;
  text-align: center;
  -moz-opacity: 0.25;
  opacity: 0.25;
  filter: alpha(opacity = 25);
}
