/* 
    Document   : apply.css
    Created on : 2010-03-30, 21:31:17
    Author     : fizyk
    Description:
        Purpose of the stylesheet follows.
*/

.sf_apply ul {
  list-style: none;
  margin-left: 20px;
  padding-left: 0px;
}

.sf_apply li input {
  vertical-align: top;
}

.sf_apply li {
  padding: 1px 0px;
  margin: 2px 0px;
}

.sf_apply li.submit_row {
  margin-left: 155px;
  border-left: 1px solid #979d9d;
  padding-left: 10px;
}

.sf_apply li:hover {
  background-color: #cdcdcd;
}

.sf_apply li.submit_row:hover {
  background-color: transparent;
}

.sf_apply label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px solid #979d9d;
  color: #444444;
  font-weight: bold;
}

.sf_apply div#recaptcha_widget_div {
  display: inline-block;
}