/* Reset */
.defaultSimpleSkin table, .defaultSimpleSkin tbody, .defaultSimpleSkin a, .defaultSimpleSkin img, .defaultSimpleSkin tr, .defaultSimpleSkin div, .defaultSimpleSkin td, .defaultSimpleSkin iframe, .defaultSimpleSkin span, .defaultSimpleSkin * {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  white-space: nowrap;
  text-decoration: none;
  font-weight: normal;
  cursor: default;
  color: #000
}

/* Containers */
.defaultSimpleSkin {
  position: relative
}

.defaultSimpleSkin table.mceLayout {
  background: #F0F0EE;
  border: 1px solid #CCC;
}

.defaultSimpleSkin iframe {
  display: block;
  background: #FFF;
  border-bottom: 1px solid #CCC;
}

.defaultSimpleSkin .mceToolbar {
  height: 24px;
}

/* Layout */
.defaultSimpleSkin span.mceIcon, .defaultSimpleSkin img.mceIcon {
  display: block;
  width: 20px;
  height: 20px
}

.defaultSimpleSkin .mceIcon {
  background: url(../../img/icons.gif) no-repeat 20px 20px
}

/* Button */
.defaultSimpleSkin .mceButton {
  display: block;
  border: 1px solid #F0F0EE;
  width: 20px;
  height: 20px
}

.defaultSimpleSkin a.mceButtonEnabled:hover {
  border: 1px solid #0A246A;
  background-color: #B2BBD0
}

.defaultSimpleSkin a.mceButtonActive {
  border: 1px solid #0A246A;
  background-color: #C2CBE0
}

.defaultSimpleSkin .mceButtonDisabled span {
  opacity: 0.3;
  -ms-filter: 'alpha(opacity=30)';
  filter: alpha(opacity = 30)
}

/* Separator */
.defaultSimpleSkin .mceSeparator {
  display: block;
  background: url(../../img/icons.gif) -180px 0;
  width: 2px;
  height: 20px;
  margin: 0 2px 0 4px
}

/* Theme */
.defaultSimpleSkin span.mce_bold {
  background-position: 0 0
}

.defaultSimpleSkin span.mce_italic {
  background-position: -60px 0
}

.defaultSimpleSkin span.mce_underline {
  background-position: -140px 0
}

.defaultSimpleSkin span.mce_strikethrough {
  background-position: -120px 0
}

.defaultSimpleSkin span.mce_undo {
  background-position: -160px 0
}

.defaultSimpleSkin span.mce_redo {
  background-position: -100px 0
}

.defaultSimpleSkin span.mce_cleanup {
  background-position: -40px 0
}

.defaultSimpleSkin span.mce_insertunorderedlist {
  background-position: -20px 0
}

.defaultSimpleSkin span.mce_insertorderedlist {
  background-position: -80px 0
}
