/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
  background-image: url(images/h1.png) !important;
}

.markItUp .markItUpButton2 a {
  background-image: url(images/h2.png) !important;
}

.markItUp .markItUpButton3 a {
  background-image: url(images/h3.png) !important;
}

.markItUp .markItUpButton4 a {
  background-image: url(images/h4.png) !important;
}

.markItUp .markItUpButton5 a {
  background-image: url(images/h5.png) !important;
}

.markItUp .markItUpButton6 a {
  background-image: url(images/h6.png) !important;
}

.markItUp .markItUpButton5 a {
  background-image: url(images/bold.png) !important;
}

.markItUp .markItUpButton6 a {
  background-image: url(images/italic.png) !important;
}

.markItUp .markItUpButton7 a {
  background-image: url(images/list-bullet.png) !important;
}

.markItUp .markItUpButton8 a {
  background-image: url(images/list-numeric.png) !important;
}

.markItUp .markItUpButton9 a {
  background-image: url(images/picture.png) !important;
}

.markItUp .markItUpButton10 a {
  background-image: url(images/link.png) !important;
}

.markItUp .markItUpButton11 a {
  background-image: url(images/quotes.png) !important;
}

.markItUp .markItUpButton12 a {
  background-image: url(images/code.png) !important;
}

.markItUp .clean a {
  background-image: url(images/clean.png) !important;
}

.markItUp .preview a {
  background-image: url(images/preview.png) !important;
}
