#sf_admin_container ul li.sf_admin_action_delete a {
  background: url(../images/error_delete.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_edit_comment a {
  background: url(../images/edit.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_delete_comment a {
  background: url(../images/exclamation.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_validate a {
  background: url(../images/validate.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_invalidate a {
  background: url(../images/delete.png) no-repeat 0 0;
}