#sf_admin_container tr.notdeleted {
  background-color: #caefcc;
}

#sf_admin_container tr.notdeleted:hover {
  background-color: #e6fde8;
}

#sf_admin_container tr.deleted {
  background-color: #efcacc;
}

#sf_admin_container tr.deleted:hover {
  background-color: #fde6e8;
}

#sf_admin_container ul li.sf_admin_action_restore a {
  background: url(../images/restore.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_reply a {
  background: url(../images/comments.png) no-repeat 0 0;
}