div.form-comment {
  width: 500px;
}

div.form-comment input, div.form-comment textarea {
  margin-top: 10px;
  width: 350px;
}

div.form-comment tr.tr_reply_author, div.form-comment tr.tr_reply_author_delete {
  display: none;
}

div.form-comment input:readonly {
  background-color: transparent;
  border: none;
  color: #444444;
  margin-top: 2px;
  font-weight: bold;
}

div.form-comment a.delete_reply {
  font-size: smaller;
  color: #444444;
  font-style: italic;
}

div.form-comment #notlogged {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}