div.form-comment fieldset {
  border: 1px solid #000000;
}

div.form-comment legend {
  font-weight: bold;
  font-size: large;
}

div.form-comment label, div.form-comment span.help {
  color: #444444;
}

div.form-comment input, div.form-comment textarea, div.form-comment input.submit:hover {
  border-style: groove;
}

div.form-comment input:hover, div.form-comment textarea:hover {
  background-color: #d9f4ce;
  border-color: #33aa33;
  border-style: dotted;
}

div.form-comment span.help {
  font-style: italic;
  font-size: smaller;
}

div.form-comment label.error, div.form-comment ul.error_list li {
  color: #ff0000;
}

div.form-comment ul.error_list {
  margin: 20px 0 0 0;
  list-style-image: url('../images/arrow-down.png');
}

div.form-comment input.error, div.form-comment textarea.error {
  border-color: #ff0000;
  background-color: #f6d1d1;
}

div.form-comment td.submit {
  text-align: center;
  margin: 0 auto;
}

div.form-comment input.submit {
  width: 100px;
}

div.form-comment input.submit:hover {
  background-color: #aaaaaa;
  border-color: #000000;
}