img {
  border: 0;
}

div.pagination {
  width: 500px;
  text-align: center;
  font-weight: bold;
  background-color: #cccccc;
}

div.pagination a, div.backtop a {
  font-weight: normal;
  background-color: #cccccc;
  text-decoration: none;
  color: #000000;
}

div.backtop {
  float: right;
}

div.backtopmax {
  float: left;
  width: 500px;
  text-align: center;
  padding: 3px;
  background-color: #cccccc;
}