.hp-config {
}

.hp-config tbody th {
  text-align: right;
  padding-right: 0.5em;
}

.hp-config thead, .hp-config .namespace {
  background: #3C578C;
  color: #FFF;
}

.hp-config .namespace th {
  text-align: center;
}

.hp-config .verbose {
  display: none;
}

.hp-config .controls {
  text-align: center;
}

/* vim: et sw=4 sts=4 */
